#player-wrapper {
  height: 360px;
}

@media (max-width:410px) {
  #player-wrapper {
    height: 188px;
  }
}

@media (min-width:411px) and (max-width:490px) {
  #player-wrapper {
    height: 209px;
  }
}

@media (min-width:491px) and (max-width:700px) {
  #player-wrapper {
    height: 254px;
  }
}

@media (min-width: 701px) {
  #player-wrapper {
    width: 569px;
  }
}

canvas {
  height: 100% !important;
  width: 100% !important;
}
