{{ partial "header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/cover" . }}
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class="container player-container">
  <div id="player-wrapper"></div>
</div>
<script>
  var playerElement = document.getElementById("player-wrapper");
  var player = new Clappr.Player({
    source: 'sources/fantastico360.mp4',
    poster: 'images/fantastico360.jpg',
    height: playerElement.clientHeight,
    width: playerElement.clientWidth,
    plugins: {container:[ClapprVR.default.Video360], core:[ClapprVR.ClapprVR]},
  });
  try {
    player.attachTo(playerElement);
    player.getPlugin('click_to_pause').disable();
  } catch {
    var paragraph = document.createElement("p");
    var link = document.createElement("a");
    playerElement.appendChild(paragraph);
    playerElement.appendChild(link);
    paragraph.innerText = 'Your browser does not support 360 videos :/\nCheck out the list of browsers that support this technology at the link below.\n\n';
    link.href = 'https://webvr.info/developers/'
    link.innerText = 'https://webvr.info/developers/'
    link.style.color = 'rgb(60, 88, 164)'
  }
</script>

{{- $homepageWidgets := .Site.Params.widgets.homepage -}}
{{- if $homepageWidgets -}}
<div class='home-widgets'>
  <div class='container sep-before'>
    {{- range $homepageWidgets -}}
      {{- partial ( print "widgets/" . ) $ -}}
    {{- end -}}
  </div>
</div>
{{- end -}}

{{ partial "footer" . }}
