{{ partial "header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/cover" . }}
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class="container player-container">
  <div id="player-wrapper"></div>
</div>
<script>
  var playerElement = document.getElementById("player-wrapper");
  var player = new Clappr.Player({
  source: 'http://clappr.io/highline.mp4',
  poster: 'http://clappr.io/poster.png',
  mute: true,
  height: "100%",
  width: "100%",
  });
  player.attachTo(playerElement);
</script>

{{- $homepageWidgets := .Site.Params.widgets.homepage -}}
{{- if $homepageWidgets -}}
<div class='home-widgets'>
  <div class='container sep-before'>
    {{- range $homepageWidgets -}}
      {{- partial ( print "widgets/" . ) $ -}}
    {{- end -}}
  </div>
</div>
{{- end -}}

{{ partial "footer" . }}
