{{ partial "header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/cover" . }}
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class="container player-container">
  <div id="player-wrapper"></div>
  <div class="load-container">
    <div class="load-wrapper select-video-load">
      <select class="video-list">
        <option value="fantastico360" selected>fantastico360</option>
        <option value="http://clappr.io/highline.mp4">Highline</option>
      </select>
      <button class="select-load-button">Load</button>
    </div>
    <div class=" load-wrapper text-video-load">
      <input class="video-input" type="text" placeholder="paste video link here!"></input>
      <button class="text-load-button">Load</button>
    </div>
  </div>
</div>
<script>
  var playerElement = document.getElementById("player-wrapper");
  var player = new Clappr.Player({
    source: 'sources/fantastico360.mp4',
    poster: 'images/fantastico360.jpg',
    height: playerElement.clientHeight,
    width: playerElement.clientWidth,
    plugins: {container:[ClapprVR.default.Video360], core:[ClapprVR.ClapprVR]},
  });

  var load_container = document.querySelector('.load-container');
  load_container.querySelector('.text-load-button').addEventListener("click", function(event) {
    var video_url_text = load_container.querySelector('.video-input')
    video_url_text !== '' && player.configure({ source: video_url_text.value, poster: '' });
  }, false);
  load_container.querySelector('.select-load-button').addEventListener("click", function(event) {
    var select = load_container.querySelector('.video-list');
    var data = select[select.selectedIndex].value === 'fantastico360' ? { source: 'sources/fantastico360.mp4', poster: 'images/fantastico360.jpg' } : { source: 'http://clappr.io/highline.mp4', poster: 'http://clappr.io/poster.png' }
    player.configure(data)
  }, false);

  try {
    player.attachTo(playerElement);
    player.getPlugin('click_to_pause').disable();
  } catch {
    load_container.style.visibility = 'hidden';
    var paragraph = document.createElement("p");
    var link = document.createElement("a");
    playerElement.appendChild(paragraph);
    playerElement.appendChild(link);
    paragraph.innerText = 'Your browser does not support 360 videos :/\nCheck out the list of browsers that support this technology at the link below.\n\n';
    link.href = 'https://webvr.info/developers/'
    link.innerText = 'https://webvr.info/developers/'
    link.style.color = 'rgb(60, 88, 164)'
  }
</script>

{{- $homepageWidgets := .Site.Params.widgets.homepage -}}
{{- if $homepageWidgets -}}
<div class='home-widgets'>
  <div class='container sep-before'>
    {{- range $homepageWidgets -}}
      {{- partial ( print "widgets/" . ) $ -}}
    {{- end -}}
  </div>
</div>
{{- end -}}

{{ partial "footer" . }}
